

            <table style="width:100%;   border:1px none silver;" >
                <tr>
                    <td style="width: 33%;  text-align:left ; " >&copy;FFLSAS {{ "now"|date("Y") }}</td>
                    <td style="width: 34%; text-align:center ;">    <span class="page-number">Page </span></td>
                    <td style="width: 33%; text-align:right ;"> generated {{ "now"|date("Y m d") }}</td>
                </tr>
            </table>



