{# views/person/showRoH.html.twig #}

 {% set locale =  app.request.getLocale() | lower %}

{% extends 'user.html.twig' %}


{% block stylesheets %}
      {{ parent() }}
   <link href="{{ asset('/css/person/f_showone.css') }}" rel="stylesheet" />
{% endblock %}

{% block middle %}
<div id="middle" >
<div id="person" >
<div class="personlist">
{{ include('@pathToWeb/docs/roleofhonour.htm' | raw) }}
</div>
</div>
{% endblock %}
