/.web-server-pid
/composer.json
/composer.lock
/tests/
/app/config/parameters*.*
/app/config/alt*.*
/build/
/phpunit.xml
/var/*
/var/cache/*
/var/logs/*
/var/sessions/*
/vendor/
/web/app.php
/web/bundles/*
/web/common/*.xcf
/web/newimages/*
/web/oldimages/*
/bin/*
/recapture.txt
/app/config/*parameters*.*
/*.tar.*
/*.sh
/*.tar
/*.tar.gz
/translations/*
/*/x*
*/x*
/web/css/x*
/*/*/*/x*
*.yaml
x*

