{# views/message/template/en/approbationrequest.html.twig #}

<div class="messageheading"> 
 <div class="label">Registration - review applicant</div>
</div>
<div class="bodytext">
 A new user is requesting approval.
</div>
<div class="link">
    <a href= "{{baseurl}}admin/user/{{user.userid}}">Review applicant</a>
</div>
<div class= "bodytext">
 
</div>

