{# views/message/template/en/emailheader.html.twig #}



<div class="mailheader">
<table >
<tr>
<td class="left"><img src="{{baseurl}}common/lorraineflag.gif" border="0"> </td>
<td class="middle">Message from FFLSAS.org  </td>
<td class="right"><img src="{{baseurl}}common/wings_tr.png" alt="" border="0"> </td>
</tr>
</table>
</div>
