
div#content
{
    background-color: #8093b7;
}



div#contentedit div.heading
{
    display:flex;
}

 div#contentedit form div
{
    xdisplay:flex;
}

 div#contentedit form div label.required
 {
     color:yellow;
     width :5em;
 }

 div#contentedit div.form form label
 {
     color:yellow;
     width :5em;
 }


div#contentedit div.form form div.trumbowyg-box.trumbowyg-en.trumbowyg.trumbowyg-editor-visible
{
    xdisplay: none;
}

div#editortext.ql-container.ql-snow
{
    
    height:50%
}


.ql-toolbar .ql-my-thing {
  width: 60px !important;
}
.ql-toolbar .ql-my-thing:before {
  content: 'My Thing';
}
.my-thing {
  background: #f00;
  color: #fff;
}
