{# views/person/shownewssidebar.html.twig #}


{% block stylesheets %}
   <link href="{{ asset('/css/content/newsidebar.css') }}" rel="stylesheet" />
{% endblock %}

{% set locale =  app.request.getLocale() | lower %}

<div id="mainmenu"  class="mainmenu" >
   <div class="menuitem" > 
   <a href="/{{locale}}/content/newsitems" >{{ 'news.items'| trans}}</a> 
  </div>
</div>
