{# views/message/template/fr/adminemailfooter.html.twig #}



<div class="mailfooter">
<table >
<tr>
<td colspan="3" >Vous avez reçu cet email car vous êtes un administrateur du site web FFLSAS.org</td>

</tr>
<tr>
<td class="middle"><a href="{{baseurl}}fr/login">FFLSAS.ORG</a>  </td>
</tr>
</table>
</div>
