{# views/message/template/fr/approbationrequest.html.twig #}

<div class="messageheading">  
 <div class="label">Enregistrement - Révoir le demandeur.</div>
</div>
<div class="bodytext">
Un nouvel utilisateur demande une approbation.
</div>
<div class="link">
   <a href= "{{baseurl}}admin/user/{{user.userid}}"> Révoir le demandeur</a>
</div>
<div class= "bodytext">
 
</div>

