{# views/message/template/en/dereg.notice.html.twig #}
<div class="messageheading"> 
 <div class="label">De-registere</div>
</div>
<div class="bodytext">
   Vous aviez ete de-registre du site FFLSAS
</div>

<div class= "bodytext">
 Si vous voudriez l'utiliser plus tard il fallait vous re-enregistre.
</div>


