{# views/message/template/fr/registrationcompletion.html.twig #}
<div class="messageheading"> 
 <div class="label">Enregistrement</div>
</div>
<div class="bodytext">
 vous avez terminé avec succès votre processus d'inscription.
</div>

<div class= "bodytext">
 
</div>

