{# views/message/template/fr/reg_notice.html.twig #}
<div class="messageheading"> 
 <div class="label">Enregistrer</div>
</div>
<div class="bodytext">
  Vous vous êtes inscrit sur le site FFLSAS.org et vous devez maintenant confirmer votre adresse e-mail.
</div>
<div class="bodytext">
 Soit visitez le site et entrez le <{{code}}> à la demande.
</div>
<div class="bodytext">  
  Ou cliquez sur le lien suivant.
</div>
<div class="link">
  <a href="{{reglink}}">Enregistrer</a>
</div>
<div class= "bodytext">
 
</div>

