{# views/message/template/fr/registrationcompletion.html.twig #}
<div class="messageheading"> 
 <div class="label">Inscription rejetée</div>
</div>
<div class="bodytext">
 L'administrateur n'a pas approuvé votre adhésion au site FFLSAS 
</div>

<div class= "bodytext">
 
</div>

