{# views/message/template/fr/registrationcompletion.html.twig #}
<div class="messageheading"> 
 <div class="label">Inscription acceptée</div>
</div>
<div class="bodytext">
L'administrateur a approuvé votre adhésion au site FFLSAS. Nous espérons que notre site vous plaira et nous vous invitons à nous faire part de vos observations et contributions.
</div>
<div class= "bodytext">
</div>

