{# views/message/template/fr/rereg_notice.html.twig #}
<div class="messageheading"> 
 <div class="label">ré-enregistrer</div>
</div>
<div class="messageheading"> 
<div class="label"></div>
 <div class="label">Nom-utilisateur:{{username}}</div>
</div>
<div class="bodytext">
  Pour continuer à utiliser le site FFLSAS.org, vous devrez vous enregistrer à nouveau.
</div>

<div class="bodytext">  
  Cliquez sur le lien suivant.
</div>
<div class="link">
  <a href="{{reglink}}">Ré-enregistrer</a>
</div>
<div class="bodytext">
Ou collez le code suivant
</div><div class="bodytext">
 {{reglink}}
</div><div class="bodytext">
    dans votre navigateur.
</div>

<div class= "bodytext">
Vous devrez entrer un nouveau mot de passe deux fois lorsque demandé. Et si nécessaire, complétez la déclaration d’intérêt sur notre site.
</div>

