{# views/message/template/fr/resetpassword.success.html.twig #}
<div class="messageheading"> 
 <div class="label">Mot de passe réinitialisé avec succès</div>
</div>
<div class="bodytext">
   Vous avez modifié avec succès votre mot de passe FFLSAS.org.
</div>


