{# views/message/template/fr/visitoremailfooter.html.twig #}



<div class="mailfooter">
<table >
<tr>
<td colspan="3" >Vous avez reçu ce courrier parce que vous avez laissé un message sur le site FFLSAS.org/<td>

</tr>
<tr>
<td class="left"><a href="{{baseurl}}fr/register">Inscrire</a> </td>
<td class="middle"><a href="{{baseurl}}fr/login">FFLSAS.ORG</a>  </td>
<td class="right"><a href="{{baseurl}}en/content/194">Declaration de confidentialité</a> </td>
</tr>
</table>
</div>
