  
div#editevent
{
   margin-top :0.5em;
   font-size :1em;
   color : red;
}


div#editevent div.label
{
    xcolor:yellow;
}
    
 div#editevent > div
 {
    margin-top:10px;
    margin-bottom:10px;
    margin-left:20px;
 }
 
xdiv#editevent  a
{
     color:blue;
     text-decoration:none;
}
    
div#editevent  div.editbutton a
{
     color:white;
     text-decoration:none;
}

div#editevent div.breadcrumbs
{
   font-size :1em;
   color : yellow;
}

div#editevent div.breadcrumbs a
{
     text-size:1em;
}
    
div#editevent div.dates
{
   font-size :1em;
   color : white; 
}

div#editevent div.heading 
{
    display:flex;
    align-content: center;
    align-items: center;
    flex-wrap:wrap;
}


div#editevent  div.editbutton.first
{
 margin-left:auto;
}





div#editevent div.imagegroup
{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     xjustify-content: space-evenly;
}

div#editevent div.imagegroup div.imageedit
{
    flex:1;
}

div#editevent div.imagegroup div.images
{
    flex:2;
    display:flex;
    height: 200px;
    overflow: auto;
    border: 2px solid blue;
       flex-wrap: wrap;
}


div#editevent div.imagegroup div.images div.image
{
    max-width: 138px;
   flex-grow: 1;
}





div#editevent div.imagegroup div.images div.image div.imageimage a img
{
    margin:10px;
    max-width:100px;
    max-height:100px;
}



xdiv#editevent div.textpanel div.text
{
    color:blue;
}



div#editevent div.refgroup
{
   margin-top:40px;   

}

div#editevent div.refgroup div.header
{
   display:flex;   
    
}

div#editevent div.refgroup div.header div.label
{
   color:yellow   ;
    
}

div#editevent div.refgroup div.ref
{
    margin-top:10px;
}

div#editevent  div.notext  
{
    margin-top : 2em;
    color:red;
    font-size:1em;
}

div.noparticipants
{
     margin-top : 2em;
}


div#editevent div.textpanel
{
    display:flex;
    align-items: center;
}

div#editevent div.textpanel div.texts
{
    flex:10;
 
}

div#editevent div.textpanel div.text
{
    height: 5em;
    overflow: auto;
    border: 2px solid blue;
}

div#editevent div.textpanel div.title
{
    height: 2em;
    overflow: auto;
    border: 2px solid blue;
}

div#editevent div.textpanel div.edit
{
    flex:;
}

xdiv#editevent  div.participants div.heading 
{
    color:red;
    margin-left: 1em;
    margin-top:15px;
}

div#editevent  div.participants
{
    margin-left:1em;
    margin-top:15px;
    display:flex;
    flex-wrap: wrap;
}



xdiv#editevent div.participants div.participant a
{
   color:blue;
   text-decoration : none;
}

div#editevent  div.participants  div.participant
{
     width:10em;
}

div#editevent  div.participants  div.incident
{
    color:white;
    margin-left:3em;
    margin-top:5px;
}
 

 
div#editevent div.children div.subheading
{
    display:flex;
    align-content: center;
    align-items: center;
  
}
 
div#editevent div.children div.subheading div.label
{
    color:yellow;
    font-size:20px;
    
}
 
div#editevent div.children
{
    margin-top:10px;
}
    
div#editevent div.children div.child
{
    display:flex;
}

xdiv#editevent div.children div.child a
{
    color:blue;
    text-decoration:none;
}
    
div#editevent div.children div.dates
{
   font-size :0.8em;
   color : white; 
   margin-left : 10px;  
}
